
DJANGO_SECRET_KEY=change-me-please
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://localhost:8080

# JWT lifetimes
JWT_ACCESS_LIFETIME_MINUTES=30
JWT_REFRESH_LIFETIME_DAYS=7

POSTGRES_DB=isp
POSTGRES_USER=isp
POSTGRES_PASSWORD=isp_password

# Runtime
GUNICORN_WORKERS=3
